.container {
  display: flex;
  justify-content: end;
}

.avatar-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  object-fit: cover;
}

.center {
  align-self: center;
}
